
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    color: rgb(48, 48, 48);
    position: absolute;
    top: 15px;
    left: 100px;
    font-size: 25px;  
}

h2 {
    color: rgb(48, 48, 48);
    font-size: 25px;
    padding: 10px;
    
}

#logo {
    position: absolute;
    top: 20px;
    width: 90px;
    height: 50px;
}


.heading {
    display: inline-block;
    width: 100%;           
    position: relative;
    height: 100px;
    resize: both;
    background: white;
    margin-bottom: -3px;
}

.heading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: 0px;
    background: rgba(170, 170, 170, 0.322)
}
.table-label {
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.table-label::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 85%;
    height: 20%;
    background: #5c9fb398;
    bottom: 0;
    z-index: -1;
}

.top-links-container {
    display: flex;
    position: absolute;
    top: 30%;
    right: 20px;
}

.top-link a:link, a:visited {
    color: rgba(63, 63, 63, 0.637);
    font-weight: 600;
    text-decoration: none;
    
}

.top-link:hover a {
    color: #22535f !important;
}

.top-link{
    border: 2px solid rgba(63, 63, 63, 0.637);
    background: none;
    padding: 10px 20px;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}



.top-link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #5c9fb398;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: -1;
    transition: 0.3s;
}

.top-link:hover {
    transform: scale(1.1);
    border-color: #22535f;
}

.top-link:hover::before {
    height: 50%;
}

.carousel-container {
    width: 550px;
    height: 370px;
    overflow: hidden;
    position: relative;
}
.carousel-slide img {
    height: 370px;
    width: 550px;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 300px;
    transition: 0.4s ease-in-out;
}

.slideshow-container {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.slideshow-slide img {
    height: 100%;
    width: 100%;
}

.slideshow-slide {
    display: flex;
    height: 100%;
    transition: 0.4s ease-in-out;
    position: relative;
}

#prevBtn {
    position: absolute;
    font-size: 30px;
    top: 45%;
    left: 3%;
    z-index: 10;
    color: #00000044;
    transition: 0.2s;
}

#prevBtn:hover {
    color: #5c9fb398;
    cursor: pointer;
    transform: scale(1.2);
}

#nextBtn {
    position: absolute;
    font-size: 30px;
    top: 45%;
    z-index: 10;
    right: 3%;
    color: #00000044;
    transition: 0.2s;
}

#nextBtn:hover {
    color: #5c9fb398;
    cursor: pointer;
    transform: scale(1.2);
}

#tennisepilt {
    width: 550px;
    height: 370px;
}

.row{
    display: flex;
}
.row td, th {
    border: 0.8px solid black;
}

.row table {
    border: 2.5px solid black;
}

.column{
    padding: 10px;
}


.broneering{
    color: black;
    text-decoration: none;
    border: 1px solid #367c8d;
    border-radius: 20px;
    background: none;
    padding: 10px 20px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    top: 20px;
    display: inline-block;
    
}

.broneering a:link, a:visited {
    color: black;
    text-decoration: none;
}

.broneering:hover {
    transform: scale(1.1);
}


.broneering::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background:  #5c9fb398;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: -1;
    transition: 0.3s;
}

.broneering:hover::before {
    height: 50%;
}
